.profile__add-btn{
  background: url(../../../images/profile/add-btn-icon.svg) center no-repeat;
  border: solid 2px var(--font-color);
  border-radius: 2px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile__add-btn:hover{
  opacity: 0.6;
}

@media screen and ( max-width: 768px ) {
  .profile__add-btn{
    width: 100%;
    margin: 0 auto;
    background-size: 16px 16px;
  }
}
