.card__like-btn{
  padding: 0;
  background: url(../../../images/card/like-btn.svg) center no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  flex: none;
  transition: opacity 0.3s;
}

.card__like-btn:hover{
  opacity: 0.5;
}
