.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: solid rgb(84,84,84,0.7) 1px;
}

@media screen and ( max-width: 768px ) {
  .header{
    flex-direction: column;
  }
}

@media screen and ( max-width: 500px ) {
  .header{
    padding-top: 28px;
    padding-bottom: 31px;
  }
}
